$colores: (
    "color-cabeza": #f0c338,
    "color-cuerpo": linear-gradient(180deg, #f0c338 15%, #fbd97a 30%, #ffe5a8 60%, #f3eacd 90%),
    "color-pie": #f3eacd,
    "color-nav-ani": #000000,
    "color-titulo": #473616,
    "color-redes":rgb(105, 79, 46)
);

$link: rgb(145, 94, 35);

%videos{
    width: 400px;
    border-radius: 7px;
    object-fit: fill;
    margin: 15px;
}

@mixin flex ($direction, $aling, $wrap, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $aling;
    flex-wrap: $wrap;
    justify-content: $justify;    
}

@mixin bordes($formato, $radio){
    border: $formato;
    border-radius: $radio;
}