/* index */
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(240,195,56,1) 15%, rgba(251,217,122,1) 30%, rgba(255,229,168,1) 60%, rgb(243, 234, 205) 90%);
}

header{
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1; 
}

h1{
    font-size: 35px;
    color: rgb(71, 54, 22);
    text-align: center;
    margin: 35px;
}

h2{
    font-size: 25px;
    text-align: center;
}

.container-fluid{
    background-color: rgb(240, 195, 56);    
}

.collapse{
    justify-content: space-around;
}

.logo{
    width: 150px;
    margin-left: 70px; 
}

.navbar{
    padding: 0; /* bootstrap me aplica un padding default */
}

.navbar-nav{
    width: 70%;
    justify-content: space-around;
}

.navbar-toggler{
    background-color: rgb(240, 195, 56);
    border: none;
}

.nav-link{
    font-size: 20px;
}

.textoIndexDer{
    display: flex;
    margin: 25px;
    align-items: center;
}

.banner{
    width: 500px;
    border-radius: 7px;
}

.textoIndexIzq{
    display: flex;
    flex-direction: row-reverse;
    margin: 25px;
    align-items: center;
}

.textoIndex{
    font-size: 20px;
    margin: 27.5px 15px;
}

.video{
    width: 400px;
    border-radius: 7px;
    object-fit: fill;
    margin: 15px;
}

.paginas{
    color: black;
}

footer{
    background-color: rgb(243, 234, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{    
    list-style: none;
    display: flex;
}

footer p{
    margin-right: 25px;
}

.fa-brands{
    font-size: 50px;
    color: rgb(105, 79, 46);
    margin: 20px 40px
}

/* animaciones */

.nav-link:hover{
    color: rgb(73, 60, 20);;
    transition: 1s;
    text-decoration: underline;
}

.fa-brands:hover{
    transition:0.5s;
    transform:rotateX(360deg);
}

/* nuestro inicios */

.textoInicios{
    margin: 30px;
    font-size: 20px;
}

.imagenesInicios{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.imagenesInicios img{
    width: 300px;
    border-radius: 9px;
}

/* galeria */

.cuadrado{
    width: 600px;
    margin: 20px;
    border: solid 3px black;
    border-radius: 8px;
}

.horizontal{
    width: 700px;
    margin: 20px;
    border: solid 3px black;
    border-radius: 8px;
}

.flexCarousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secVideos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

/* ofertas */

.flexCard{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 85px 35px;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(252, 224, 147);
    border: solid 1px transparent;
    border-radius: 8px; 
    margin: 10px;
}

.card-title{
    text-align: center;
}

.btn{
    width: 100%;   
}

/* contacto */

.foryUbi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoForm{
    text-align: center;
    margin: 8px;
}

.formulario{
    border: solid 3px black;
    border-radius: 8px;
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.relleno{
    width: 40vw;
    text-align: center;
    margin: 3px;
}

.mapa iframe{
    border: solid black 3px;
    border-radius: 15px;
    margin: 35px 0px;
    width: 700px;
    height: 600px;
}

/* medias */

@media screen and (max-width: 768px) {
/* index */    
    .textoIndexDer{
        flex-direction: column;
        align-items: center;
    }

    .textoIndexIzq{
        flex-direction: column;
    }

    .fa-brands{
        margin: 15px 20px;
    }
/* ofertas */
    .card{
        margin: 20px;
    }

    .flexCard{
        align-items: center;
    }
/* contacto */
    .formulario{
        width: 300px;
    }

    .relleno{
        width: 250px;
    }
    
    .mapa iframe{
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
/* nuestros inicios */    
    .imagenesInicios{
        flex-direction: column;
        align-items: center;       
    }   
    
    .imagenesInicios img{
        margin-top: 25px;
    }
/* galeria */
    .cuadrado{
        width: 300px;
    }

    .horizontal{
        width: 300px;
    }
}