.foryUbi{
    @include flex(column, center, none, none);

    .formulario{
        border: solid 3px black;
        border-radius: 8px;
        margin: 30px 150px;
        @include flex(column, center, none, none);
        width: 50%;

        .textoForm{
            text-align: center;
            margin: 8px;
        }

        .relleno{
            width: 40vw;
            text-align: center;
            margin: 3px;
        }        
    }
}

.mapa iframe{
    @include bordes(solid black 3px, 15px);
    margin: 35px 0px;
    width: 700px;
    height: 600px;
}