.flexCarousel{
    @include flex(none, center, wrap, space-around);

    .cuadrado{
        width: 600px;
        margin: 20px;
        @include bordes(solid 3px black, 8px);
    }

    .horizontal{
        width: 700px;
        margin: 20px;
        @include bordes(solid 3px black, 8px);
    }
}


.secVideos{
    @include flex(none, none, wrap, space-around);
    margin: 20px;

    .video{
        @extend %videos;
    }
}