.textoIndexDer{
    display: flex;
    margin: 25px;
    align-items: center;

    .banner{
        width: 500px;
        border-radius: 7px;
    }

    .textoIndex{
        font-size: 20px;
        margin: 27.5px 15px;
        
        .paginas{
            color: $link;
        }
    }       
}

.textoIndexIzq{
    @include flex(row-reverse, center, none, none);
    margin: 25px;

    .video{
        @extend %videos;
    }
    
    .textoIndex{
        font-size: 20px;
        margin: 27.5px 15px;

        .paginas{
            color: $link;
        }
    }
}



        
