.flexCard{
    @include flex(none, baseline, wrap, space-around);
    margin: 85px 35px;
}

.card{
    background-color: rgb(252, 224, 147);
    @include bordes(solid 1px transparent, 8px);
    margin: 10px;
}

.card-title{
    text-align: center;
}

.btn{
    width: 100%;   
}
